[submodule "software/submodules/logs"]
	path = software/submodules/logs
	url = git@github.com:bricktrooper/Logs.git
[submodule "software/submodules/cli"]
	path = software/submodules/cli
	url = git@github.com:bricktrooper/CLI.git
